<div class="about">
    <div <!--
        class="about-section p-3 m-2 my-xl-4 mx-xl-2 border border-1 border-white rounded-2 d-flex flex-column justify-content-center align-items-center d-xl-flex flex-xl-row justify-content-xl-center">
        -->
        <div class="about-img-container w-100 mb-3 d-flex flex-column justify-content-center"><img src="img/about.jpg"
                alt="about">
        </div>
        <div
            class="about-content text-white mt-2 m-xl-5 p-xl-5 d-xl-flex flex-xl-column justify-content-xl-center align-items-xl-start">
            <h2 class="text-center text-lg-left">ACM TAMUSA</h2>
            <p class="text-white">
                We aim to <b>connect</b> students across disciplines by fostering <b>collaboration</b>,
                <b>innovation</b>, and <b>personal growth</b> through a shared interest in solving real-world
                problems with applied computing skills.
            </p><br>

            {% include 'about-socials.njk' %}

        </div>
    </div>
    <div class="about-subsection p-xl-3 text-white m-3 d-flex flex-column justify-content-center align-items-center">
        <p>Who we are:</p>
        <ul>
            <li>A student-led organization dedicated to <b>technology, creativity, and innovation</b>.</li>
            <li>A welcoming space for <b>all majors and skill levels,</b> from tech enthusiasts to aspiring
                professionals.</li>
            <li>A network of peers supporting one another in <b>academic, career, and personal development.</b></li>
            <li>A hub for hands-on experiences in <b>coding, cybersecurity, data science, and more.</b></li>
            <li>A launchpad for growth through <b>events, mentorship, projects, and competitions</b>.</li>
        </ul>
        <p>Whether you're exploring tech for the first time or ready to lead your next big project, ACM TAMUSA is
            here to help you connect, learn, and thrive.</p><br>
        <a href="https://jagsync.tamusa.edu/organization/acm"><button type="button" class="btn">BECOME A
                MEMBER</button></a>
    </div>
</div>
<br>