<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vanilla-calendar-pro/styles/index.css">
</head>

<body>
    {% include 'navbar.njk' %}
    <main>
        {{ content | safe }}
    </main>
    {% include 'footer.njk' %}

    <script src="https://cdn.jsdelivr.net/npm/vanilla-calendar-pro/index.js" defer></script>
    <script defer>
        document.addEventListener('DOMContentLoaded', () => {
            const { Calendar } = window.VanillaCalendarPro;
            const cal = new Calendar('#calendar');
            cal.init();
        });
    </script>
    <script src="/js/script.js" defer></script>
</body>

</html>