<section class="calendar-section pb-5">
  <div class="events-col" aria-label="Upcoming events">
    <h2 class="events-title">Upcoming events</h2>
    <ul class="events-list">
      {% for i in event %}
      <li>
        <time class="text-center" datetime="{{ i.date }}">{{ i.date }} {{i.hour}}</time>
        <div class=" event-body">
          <strong>{{ i.name }}</strong>
          <span>{{ i.location }}</span>
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>
  <div class="calendar-col">
    <div id="calendar"></div>
  </div>
</section>