<div class="footer pt-3 d-md-flex flex-md-row">
    <div class="footer-socials d-flex flex-column justify-content-center align-items-center">
        <h2 class="text-center fw-bold mt-0">Association for Computing Machinery</h2>
        <p class="text-center">at TAMUSA</p>
        <div class="text-center">One University Way, San Antonio, TX 78224</div>
        <p class="mt-3 text-center">Contact: <a href="mailto:jspin01@jaguar.tamu.edu">jspin01@jaguar.tamu.edu</a></p>
        <div class="footer-img-container"><img src={{"/img/acm-logo-transparent.png" | url}} alt=""></div>
    </div>

    {% include 'footer-link.njk' %}

</div>
<div class="rights p-2">
    <p class="mt-3 text-center">© {% year %} ACM TAMUSA. All rights reserved. Designed by <b class="text-white">Liliana
            Martinez</b>
    </p>
</div>