<div class="news-section">
    <h2>News & Stories</h2>
    <div class="news-row">
        <div class="news-mini-card one">
            <div class="news-title">
                <h3>EVENT</h3>
            </div>
            <div class="news-content">
                <p>
                    Another successful event today everyone, see you at the next one!
                </p>
                <!-- <a href="#">READ MORE</a> -->
            </div>
        </div>

        <div class="news-mini-card two">
            <div class="news-title">
                <h3>VOLUNTEER</h3>
            </div>
            <div class="news-content">
                <p>
                    Love giving back to our community!
                </p>
                <!-- <a href="#">READ MORE</a> -->
            </div>
        </div>
        <div class="news-mini-card three">
            <div class="news-title">
                <h3>WORKSHOP</h3>
            </div>
            <div class="news-content">
                <p>
                    Great presentation by our ACM President!
                </p>
                <!-- <a href="#">READ MORE</a> -->
            </div>
        </div>
    </div>
</div>