<div class="suborgs">
    <div class="suborg">
        <div class="suborg-img-container"><img src="img/acm-w.png" alt=""></div>
        <div class="suborg-content">
            <h2>ACM-W</h2>
            <p>
                Our mission is to <b>empower and uplift students</b>, with a particular focus on supporting
                <b>women in technology</b>, by fostering an inlcusive, dynamic, and collaborative environment.
            </p><br>
        </div>
    </div>
    <div class="suborg-subsection">
        <p>We strive to:</p>
        <ul>
            <li><b>Empower women and underrepresented students</b> to thrive in tech though mentorship, leadership
                roles, and skill-building opportunities.</li>
            <li><b>Enhance academic and professional development</b> via workshops, career panels, speaker vents,
                and resume reviews.</li>
            <li><b>Foster social connections and a sense of belonging</b> through mixers, game nights, and
                team-building activities.</li>
            <li><b>Building a vibrant, supportive network</b> of peers, alumni, and industry professionals.</li>
            <li><b>Promote confidence and curiosity</b>, encouraging members to explore new areas of computing and
                push boundaries.</li>
        </ul>
        <p>Whether you're a beginner or an experienced coder join us in shaping a tech community that's not only
            intelligent and capable—but inclusive, inspiring, and fun.</p><br>
        <div class="buttons">
            <a href="https://jagsync.tamusa.edu/organization/acmw"><button type="button" class="btn">LEARN
                    MORE</button></a>
            <a href="https://jagsync.tamusa.edu/organization/acmw"><button type="button" class="btn">SIGN
                    UP</button></a>
        </div>
    </div>
</div>
<br>