<div class="container py-5">
    <div class="row g-5 justify-content-center">
        {% for i in team %}
        <div class="col-12 col-lg-4">
            <div class="member position-relative text-center">
                <img src="{{i.img | url}}" alt="" class="rounded-circle">
                <h2 class="h4 mt-3 mb-1">{{i.name}}</h2>
                <p class="text-secondary mb-1">{{i.role}}</p>
                <a href="mailto:{{i.email}}">{{i.email}}</a>
                <div class="member-menu">
                    <img src="/img/team/2.png" alt="">
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>