<div class="team">
    <div class="members">
        <div class="member">
            <div class="member-img-container"><img src="/img/Jaguar-Head-2-Color-Grey.png" alt=""></div>
            <div class="member-content">
                <h2>Brandon Earwood</h2>
                <p>Faculty Advisor</p>
                <div class="member-button">
                    <a href="mailto:bearwood@tamusa.edu">bearwood@tamusa.edu</a><br>
                </div>
            </div>
        </div>
        <div class="member">
            <div class="member-img-container"><img src="/img/Jaguar-Head-2-Color-Grey.png" alt=""></div>
            <div class="member-content">
                <h2>Julian Spindola</h2>
                <p>President</p>
                <div class="member-button">
                    <a href="mailto:jspin01@jaguar.tamu.edu">jspin01@jaguar.tamu.edu</a><br>
                </div>
            </div>
        </div>
        <div class="member">
            <div class="member-img-container"><img src="/img/Jaguar-Head-2-Color-Grey.png" alt=""></div>
            <div class="member-content">
                <h2>Mariana Lozano</h2>
                <p>Vice President</p>
                <div class="member-button">
                    <a href="mailto:mloza019@jaguar.tamu.edu">mloza019@jaguar.tamu.edu</a><br>
                </div>
            </div>
        </div>
        <div class="member">
            <div class="member-img-container"><img src="/img/Jaguar-Head-2-Color-Grey.png" alt=""></div>
            <div class="member-content">
                <h2>Crystina Brown</h2>
                <p>Secretary</p>
                <div class="member-button">
                    <a href="mailto:cbrow040@jaguar.tamu.edu">cbrow040@jaguar.tamu.edu</a><br>
                </div>
            </div>
        </div>
        <div class="member">
            <div class="member-img-container"><img src="/img/Jaguar-Head-2-Color-Grey.png" alt=""></div>
            <div class="member-content">
                <h2>Hugo Padilla</h2>
                <p>Treasurer</p>
                <div class="member-button">
                    <a href="mailto:hpadi02@jaguar.tamu.edu">hpadi02@jaguar.tamu.edu</a><br>
                </div>
            </div>
        </div>
        <div class="member">
            <div class="member-img-container"><img src="/img/Jaguar-Head-2-Color-Grey.png" alt=""></div>
            <div class="member-content">
                <h2>Alexis Parson</h2>
                <p>Compliance/Constitution</p>
                <p>Officer</p>
                <div class="member-button">
                    <a href="mailto:apars03@jaguar.tamu.edu">apars03@jaguar.tamu.edu</a><br>
                </div>
            </div>
        </div>
        <div class="member">
            <div class="member-img-container"><img src="/img/Jaguar-Head-2-Color-Grey.png" alt=""></div>
            <div class="member-content">
                <h2>Trieu Do</h2>
                <p>Director of Operations</p>
                <div class="member-button">
                    <a href="mailto:bearwood@tamusa.edu">bearwood@tamusa.edu</a><br>
                </div>
            </div>
        </div>
        <div class="member">
            <div class="member-img-container"><img src="img/Jaguar-Head-2-Color-Grey.png" alt=""></div>
            <div class="member-content">
                <h2>Liliana Martinez</h2>
                <p>Fundraising Director</p>
                <div class="member-button">
                    <a href="mailto:lmart0151@jaguar.tamu.edu">lmart0151@jaguar.tamu.edu</a><br>
                </div>
            </div>
        </div>
        <div class="member">
            <div class="member-img-container"><img src="img/Jaguar-Head-2-Color-Grey.png" alt=""></div>
            <div class="member-content">
                <h2>Kevin Hernandez</h2>
                <p>Marketing Officer</p>
                <div class="member-button">
                    <a href="mailto:khern0110@jaguar.tamu.edu">khern0110@jaguar.tamu.edu</a><br>
                </div>
            </div>
        </div>
        <div class="member">
            <div class="member-img-container"><img src="img/Jaguar-Head-2-Color-Grey.png" alt=""></div>
            <div class="member-content">
                <h2>Eric Gerner</h2>
                <p>Marketing Officer</p>
                <div class="member-button">
                    <a href="mailto:egern01@jaguar.tamu.edu">egern01@jaguar.tamu.edu</a><br>
                </div>
            </div>
        </div>
        <div class="member">
            <div class="member-img-container"><img src="img/Jaguar-Head-2-Color-Grey.png" alt=""></div>
            <div class="member-content">
                <h2>Lorenzo Sosa</h2>
                <p>Outreach Coordinator</p>
                <div class="member-button">
                    <a href="mailto:lsosa08@jaguar.tamu.edu">lsosa08@jaguar.tamu.edu</a><br>
                </div>
            </div>
        </div>
        <div class="member">
            <div class="member-img-container"><img src="img/Jaguar-Head-2-Color-Grey.png" alt=""></div>
            <div class="member-content">
                <h2>Hawaau Adisa</h2>
                <p>Recuritment Retention</p>
                <p>Officer</p>
                <div class="member-button">
                    <a href="mailto:hadis01@jaguar.tamu.edu">hadis01@jaguar.tamu.edu</a><br>
                </div>
            </div>
        </div>
        <div class="member">
            <div class="member-img-container"><img src="img/Jaguar-Head-2-Color-Grey.png" alt=""></div>
            <div class="member-content">
                <h2>Aby Babu Alappat</h2>
                <p>Risk Management</p>
                <p>Officer</p>
                <div class="member-button">
                    <a href="mailto:a01@jaguar.tamu.edu">a01@jaguar.tamu.edu</a><br>
                </div>
            </div>
        </div>
        <div class="member">
            <div class="member-img-container"><img src="img/Jaguar-Head-2-Color-Grey.png" alt=""></div>
            <div class="member-content">
                <h2>Isabel Villarreal</h2>
                <p>Travel Coordinator</p>
                <div class="member-button">
                    <a href="mailto:ivill018@jaguar.tamu.edu">ivill018@jaguar.tamu.edu</a><br>
                </div>
            </div>
        </div>
    </div>
</div>