.resource {
    padding: 1rem;
    display: flex;
    align-items: center;
}

.box h2 {
    color: #000;
    font-size: 25px;
    text-align: center;
}
.boxes {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    width: 100%;
    justify-items: center;
    align-items: start;
}

.box {
    width: 100%;
    max-width: 18rem; /* keeps them from being too wide on desktop */
    position: relative;
    overflow: hidden;
}

.img-wrapper {
    position: relative;
    width: 100%;
    display: block;
}

.img-wrapper img {
    display: block;
    width: 100%;
    height: auto;
}

.img-overlay {
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(20, 18, 28, 0.8);
    color: #fff;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.3s;
    pointer-events: none;
}

.img-overlay a {
    text-decoration: none;
    color: #fff;
}

.img-overlay a:hover {
    text-decoration: underline;
    color: #00a2ff;
}

.img-wrapper:hover .img-overlay {
    opacity: 1;
    pointer-events: auto;
}

.img-overlay ul {
    padding: 1rem;
    margin: 0;
    text-align: center;
}

.img-overlay li {
    list-style: none;
    font-size: 1rem;
    margin-bottom: 0.5em;
}

@media (max-width: 900px) {
    .boxes {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 430px) {
    .boxes {
        grid-template-columns: 1fr;
    }

    .box {
        width: 100%;
    }
}