.footer {
    padding: 2rem;
    background-color: #9ddbff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
}

.footer-header,
.footer-links {
    padding: 0 1rem;
}

.footer-header h3 {
    margin-bottom: 0;
}

.footer-header p {
    margin: 0.5rem 0;
    font-size: 13px;
}

.footer-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
}

.footer-links a {
    padding: 0;
}

.footer-links a:hover {
    color: #fff;
}

.footer-useful-links,
.footer-resources {
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.footer-useful-links a {
    font-size: 15px;
}

.footer-resources a {
    font-size: 15px;
}

.rights {
    padding: 1rem;
    text-align: center;
    font-size: 12px;
    background-color: #919191;
    border-top: solid 2px #fff;
}

.socials {
    width: 100%;
    padding: 1rem 0;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: start;
    align-items: center;
}

.sm-link {
    width: 2.5rem;
    height: 2.5rem;
    margin: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 50%;
    transition: background-color 0.3s ease;
}

.sm-link:hover {
    background-color: #919191;
}

.social-link {
    width: 100%;
    height: auto;
    text-align: center;
}

.social-link img {
    width: 24px;
    height: 24px;
}

@media (max-width: 600px ) {
    .footer h3 {
        font-size: 15px;
    }

    .footer-header,
    .footer-links {
        width: 50%;
    }
}

@media (max-width: 435px) {
    .footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer-header,
    .footer-links {
        padding: 0;
        width: 100%;
    }

    .footer-links a {
        padding: 0;
    }

    .footer-useful-links,
    .footer-resources {
        padding: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: start;
    }

    .footer-useful-links a {
        color: #000;
    }

    .footer-resources a {
        color: #000;
    }
}