.grid {
    padding: 5rem;
    background-color: #919191;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
}

.card {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card h2 {
    color: #fff;
    margin-bottom: 0;
}

.card p {
    font-size: 14px;
}

.a {
    border-right: solid 1px #fff;
}

.b {
    border-bottom: solid 1px #fff;
}

@media (max-width: 900px) {
    .card p {
        font-size: 10px;
    }
}

@media (max-width: 600px) {
    @media (max-width: 900px) {
    .grid {
        padding: 3rem;
    }

    .card h2 {
        font-size: 14px;
    }

    .card p {
        font-size: 7px;
    }
}
}

@media (max-width: 435px) {
    .grid {
        grid-template-columns: 1fr;
        padding: 1rem;
    }

    .card {
        border: none;
    }

    .card h2 {
        font-size: 25px;
    }

    .card p {
        font-size: 12px;
    }
}