@import url('nav.css');
@import url('about.css');
@import url('grid.css');
@import url('suborgs.css');
@import url('resource.css');

body {
    margin: 0;
    padding: 0;
    background-color: #111111;
    font-family: 'Inter', sans-serif;
}

.hero {
    height: 600px;
    background-image: url('img/hero.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-content {
    padding: 1rem;
    text-align: start;
}

.hero-content h1, p {
    color: #fff;
    margin: 0;
}

/* Buttons */
.btn {
    width: 350px;
    padding: 1rem 2rem;
    color: #fff;
    background-color: #00a2ff;
    border: solid 1px #00a2ff;
    font-weight: 700;
}

.btn:hover {
    background-color: transparent;
    border: solid 1px #00a2ff;
}

@media (max-width: 435px) {
    .btn {
        font-size: 16px;
    }
}

@media (max-width: 350px) {
    .btn {
        width: 300px;
    }
}