.news-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.news-section h2 {
    color: #fff;
}

.news-row {
    width: 75%;
    margin: 1rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.news-col {
    margin: 1rem;
}

.news-mini-card {
    width: 100%;
    height: 400px;
    color: #fff;
    background-color: #181818;
    border: solid 1px #333;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    transition: transform 0.3s ease;
}

.news-mini-card:hover {
    transform: scale(1.05);
    background-color: #323232;
}

.news-title h3 {
    padding: 0.05rem 3.5rem;
    color: #000;
    background-color: #fff;
}

.news-content {
    padding: 1rem;
}

.one {
    
    background-image: url('img/news-3.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.two {
    background-image: url('img/news-2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.three {
    background-image: url('img/news-1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media (max-width: 765px) {
    .news-row {
       grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 545px) {
    .news-row {
       grid-template-columns: 1fr;
    }

    .news-card,
    .news-mini-card {
        width: 350px;
        height: 250px;
    }
}