.resources {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
}

.resource {
    margin: 1rem;
}

.resource-img-container {
    width: 100%;
    max-width: 800px;
}

.resource-img-container img {
    width: 100%;
    height: auto;
}

.resource-content {
    margin: 1rem;
    max-width: 800px;
}

.resource-content h2, p, li {
    color: #fff;
}

@media (min-width: 600px) {
    .resources {
        grid-template-columns: repeat(2, 1fr);
    }

    .resource {
        margin: 3.5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}