.resources {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
}

.resource {
    margin: 1rem;
}

.resource-img-container {
    width: 100%;
}

.resource-img-container img {
    width: 100%;
    height: auto;
}

.resource-content {
    margin: 1rem;
}

.resource-content h2 {
    color: #fff;
}

@media (min-width: 600px) {
    .resources {
        grid-template-columns: repeat(2, 1fr);
    }

    .resource {
        margin: 5rem;
    }
}