.suborgs {
    width: 100%;
}

.suborg {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.suborg-subsection {
    margin: 1rem;
    padding: 1rem;
    border: solid 1px #fff;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.suborg-img-container {
    width: 100%;
    max-width: 800px;
}

.suborg-img-container img {
    width: 100%;
    height: auto;
}

.suborg-content {
    margin: 1rem;
    padding: 1rem;
    border: solid 1px #fff;
    border-radius: 20px;
}

.suborg-content h2 {
    color: #fff;
    margin-top: 0;
}

@media (min-width: 1020px) {
    .suborg {
        margin: 1rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .suborg-content {
        max-width: 800px;
    }
}