.suborgs {
    width: 100%;
}

.suborg {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.suborg-img-container {
    width: 100%;
}

.suborg-img-container img {
    width: 100%;
    height: auto;
}

.suborg-content {
    margin: 1rem;
}

.suborg-content h2 {
    color: #fff;
}

@media (min-width: 600px) {
    .suborg {
        margin: 1rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
}