.team {
    margin-top: 4.5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.team h1 {
    color: #000;
}

#vip-members {
    margin: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.members {
    margin: 1rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.member {
    width: 13rem;
    height: 17rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#president {
    background-color: #9ddbff;
}

#vice-president {
    background-color: #919191;
}

.img-team-container {
    width: 60%;
    height: auto;
}

.img-team-container img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    transition: transform 0.3s ease;
}

.img-team-container img:hover {
    box-shadow: 3px 3px 8px #000;
    transform: scale(1.08);
}

@media (max-width: 900px) {
    .members {
        grid-template-columns: repeat(5, 1fr);
    }

    .member {
        width: 8rem;
        height: 12rem;
    }

    .member h2 {
        font-size: 15px;
    }

    .member p {
        font-size: 10px;
    }
}

@media (max-width: 600px) {
    .members {
        grid-template-columns: repeat(3, 1fr);
    }

    .member {
        width: 8rem;
        height: 12rem;
    }
}

@media (max-width: 435px) {
    .members {
        grid-template-columns: 1fr;
    }

    #vip-members {
        grid-template-columns: 1fr;
    }
}