.news-mini-card {
    width: 100%;
    height: 400px;
    background-color: #181818;
    border: solid 1px #333;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    transition: transform 0.5s ease;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.news-mini-card:hover {
    transform: scale(1.05);
    background-color: #323232;
    box-shadow: 2px 2px #00a2ff;
}

.news-title h3 {
    margin-top: 1rem;
    padding: 0.05rem 2rem;
    color: #000;
    background-color: #c5c2c2;
    border-radius: 5px;
}

.news-content {
    padding: 1rem;
    min-width: 70%;
}

.one {
    background-image: url('../img/news-3.jpg');

}

.two {
    background-image: url('../img/news-2.jpg');

}

.three {
    background-image: url('../img/news-1.jpg');

}

@media (max-width: 600px) {
    .news-mini-card {
        width: 90%;
    }
}