.resource-img-container {
    max-width: 600px;
}

.resource-img-container img {
    width: 100%;
    height: auto;
    box-shadow: 3px 3px #fff;
    border-radius: 5px;
}

.resource-content {
    max-width: 560px;
}